SERIAL 0
DEFAULT j1
TIMEOUT 300
DISPLAY f1_main.txt
PROMPT 1
F1 f1_main.txt
F2 f2_about.txt
F3 f3_hwreq.txt
F4 f4_boot.txt
F5 f5_ip.txt
F6 f6_copy.txt
LABEL j1
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 TYD=1
LABEL n1
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 TYD=2
LABEL l1
        KERNEL /chaos/bzImage
        APPEND ip=192.168.1.11::192.168.1.1:255.255.255.0::: panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 TYD=3
LABEL s1
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 SETI=1
LABEL j2
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 OMAUTO=1
LABEL n2
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 OMAUTO=1
LABEL j3
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=0 HTTPD=0 SSHD=1 TYD=1
LABEL n3
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=0 HTTPD=0 SSHD=1 TYD=2
LABEL l3
        KERNEL /chaos/bzImage
        APPEND  ip=192.168.1.11::192.168.1.1:255.255.255.0::: panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=0 HTTPD=0 SSHD=1 TYD=3
LABEL j4
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=0 HTTPD=0 SSHD=1 OMAUTO=1
LABEL n4
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=0 HTTPD=0 SSHD=1 OMAUTO=1
LABEL n5
        KERNEL /chaos/bzImage
        APPEND ip=none panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=1 SSHD=0 OMAUTO=0
LABEL memtest
	KERNEL /chaos/memtest
LABEL debug
        KERNEL /chaos/bzImage
        APPEND panic=10 initrd=/chaos/chaos.rdz root=/dev/ram0 rw boot=/dev/cdrom:iso9660 init=/sbin/init SHELL=1 HTTPD=0 SSHD=1 TYD=1
